body{
    background-color: lightyellow;
}
.html {
    width: 0px;
    height: 0px;
}

h1{
    font-family: Arial;
    color: aqua;
    font-size: 40px;
}

.paragraph-home-1{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: chartreuse;
}

.img-home {
    display: flex;
    float: right; 
    align-items: right;
    width: 200px;
    height: 200px;
}

.button-home{
    background-color: aqua;
}

a:link, a:visited{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: 80px;
    background-color: white;
}

a:hover{
    background-color: aqua;
}

.logo-contact{
    height: 20px;
    width: 20px;
}
