body {
    margin: 0;
    padding: 0;
    color: #333;
}

.title {
    padding: 1px;
    background-color: #f6e8b9;
    color: black;
}

.title h1 {
    margin: 0;
    font-size: 2.5rem;
    padding: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paragraph-home-1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 1px;
}

.button-home {
    text-align: center;
    padding: 1rem;
    position: relative;
    background-color: #f6e8b9;
}

.button-home button {
    font-size: 1.2rem;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #333;
    color: rgba(51, 51, 51, 0.61);
    border-radius: 5px;
}

.button-home button:hover {
    background-color: #bb2b2b;
}

.img-rotimodel {
    text-align: center;
    padding: 2px;
}

.img-rotimodel img {
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.img-rotimodel p {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin: 0;
}